:root{
 --iris:#4D5AE5;
 --ocean:#404BBF;
 --navy-blue:#2E2F42;
 --green:#31D0AA;
 --slate:#434455;
 --light-slate:#8E8F99;
 --cornflower:#E7E9FC;
 --cloud:#F4F4FD;
 --navy-blue-modal:#2E2F42;
 --grey:#2E2F42;
 --white:#FFFFFF; 
}

body{
     color:var(--slate);
     font-family: "Roboto", sans-serif;
     background:var(--white);
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* ==========HEADER========== */
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);

}
.logo-naim{
    color:var(--navy-blue);
}
.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--navy-blue);
}
.menu-link:hover,
.menu-link:focus{
    color:var(--ocean);
}
.contacts{
    font-style: normal; 
} 
.contact-link{
font-family: inherit;
font-style: normal; 
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
.contact-link:hover,
.contact-link:focus{
    color:var(--ocean);
}
/* ==========/HEADER========== */

/* ==========HERO========== */
.hero{
    background-color:var(--navy-blue);
}
.hero-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
/* position: absolute; */
width: 496px;
height: 120px;
letter-spacing: 0.02em;
 color:var(--white); 
}
.btn{
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;
color: var(--white);
background: var(--iris);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
}
.btn:hover,
.btn:focus{
    background:var(--ocean);
}
/* ==========/HERO========== */
/* ==========HANG========== */
.subtitle{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
background-color: var(--white);
}
.text{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
/* ==========/HANG========== */

/* ==========What are we doing========== */


.subject{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
background-color:var(--white); 
}
.team-group{
    background-color: var(--white);
}
/* ==========/What are we doing========== */

/* ==========TEAM========== */
.team{ 
 background-color:var(--cloud);
}
.team-list{
  background-color:var(--cloud); }

/* ==========/TEAM========== */

/* ==========FOOTER========== */
.footer-stile{
background:var(--navy-blue);
}
.logo-footer{
    color:var(--cloud);
}
.text-footer{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  var(--cloud);
}
/* ==========FOOTER========== */
.scrolls{
font-family: inherit;
 font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--iris);
background-color:var(--cloud);
cursor: pointer;
}
.scrolls:hover,
.scrolls:focus{
    color: var(--white);
    background-color:var(--ocean);
}
